[Unit]
Description=sopnode-tunnel
After=network-online.target
Wants=network-online.target

# [Service]
# Environment="DEV=bond0" "ADDR=138.96.19.1"
# Environment="PREFIX=28" BROADCAST="138.96.19.15"

Type=oneshot
RemainAfterExit=yes

ExecStart= /usr/share/kube-install/bash-utils/ join-tunnel
ExecStop=  /usr/share/kube-install/bash-utils/ leave-tunnel
