[Unit]
Description=sopnode-tunnel
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart= /usr/share/kube-install/bash-utils/tunnel.sh join-tunnel
ExecStop=  /usr/share/kube-install/bash-utils/tunnel.sh leave-tunnel

[Install]
WantedBy=multi-user.target
